.miBoton {
    color: blue;
    background-color: yellowgreen;
    border: yellowgreen;
    content: blue;
}

.Titulo {
    color: black;
    animation-delay: 0ms;
}

.miBarra {
    color: chocolate;
    border: rgb(6, 6, 255);
    background-color: lime;
}

.Condiciones {
    color: orange;
    background-color: palegoldenrodx;
}